
@{
    ViewData["Title"] = "MainIndex";
}
<label for="model-type">Select Model</label>
<select id="model-select">
    <option value="GFPGAN">GFP-GAN</option>
    <option value="GFPGAN">GFP-GAN</option>
    <option value="GFPGAN">GFP-GAN</option>
</select>
<h4>Detail</h4>
<p>ádhasd</p>
<p>ádhasd</p>
<p>ádhasd</p>
<label for="img-input">Input Image</label>
<input id="img-input" type="file" />
<div id="preview"></div>
<button class="btn-primary" id="restore">Restore </button>
<div id="img-restore"></div>

